<Plugin "postgresql">
{{range ls "/self/stack/services/postgres/containers"}}
  <Database template1>
    Host "{{.}}"
    Port "5432"
    User "postgres"
    Query replication_lag
    Query xlog_position
  </Database>
{{end}}
</Plugin>
