#!/bin/sh

OUTPUT=/etc/collectd/collectd.conf.d/20postgresql-replication.conf

echo '<Plugin "postgresql">' > $OUTPUT

{{ $containers := getvs "/containers/*/name" -}}
{{ range $containers -}}
  {{ $contname := . -}}
  {{ $label := printf "/containers/%s/labels/com.camptocamp.monitoring.postgres" $contname -}}
  {{ $monitor := getv $label "false" -}}
  {{ if eq $monitor "true" }}
cat <<EOF >> $OUTPUT
  <Database template1>
    Instance "{{ $contname }}"
    Host "{{ $contname }}"
    Port "5432"
    User "postgres"
    Query replication_lag
    Query xlog_position
  </Database>

EOF

echo "SELECT datname FROM pg_database WHERE datistemplate = false;" | psql -h {{ $contname }} -At -Upostgres | grep -v postgres | while read database; do

cat <<EOF >> $OUTPUT
  <Database $database>
    Instance "{{ $contname }}_$database"
    Host "{{ $contname }}"
    Port "5432"
    User "postgres"
    Query backends
    Query transactions
    Query queries
    Query query_plans
    Query table_states
    Query disk_io
    Query disk_usage
  </Database>

EOF

done

  {{ end -}}
{{ end -}}

{{ range $stack := lsdir "/stacks" -}}
  {{ $services := printf "/stacks/%s/services" $stack -}}
  {{ range $service := lsdir $services -}}
  {{ $kind := printf "/stacks/%s/services/%s/kind" $stack $service -}}
  {{ $_kind := getv $kind -}}
  {{ if eq $_kind "externalService" -}}
    {{ $label := printf "/stacks/%s/services/%s/labels/com.camptocamp.monitoring.postgres" $stack $service -}}
    {{ $monitor := getv $label "false" -}}
    {{ if eq $monitor "true" }}
      {{ $user := printf "/stacks/%s/services/%s/metadata/credentials/user" $stack $service }}
      {{ $password := printf "/stacks/%s/services/%s/metadata/credentials/password" $stack $service }}
cat <<EOF >> $OUTPUT
  <Database template1>
    Instance "{{ $service }}.{{ $stack }}"
    Host "{{ $service }}.{{ $stack }}"
    Port "5432"
    User "{{ getv $user }}"
    Password "{{ getv $password }}"
    Query replication_lag
    Query xlog_position
  </Database>

EOF

export PGPASSWORD="{{ getv $password }}"
echo "SELECT datname FROM pg_database WHERE datistemplate = false;" | psql -h {{ $service }}.{{ $stack }} -At -U{{ getv $user }} | grep -v postgres | while read database; do

cat <<EOF >> $OUTPUT
  <Database $database>
    Instance "{{ $service }}.{{ $stack }}_$database"
    Host "{{ $service }}.{{ $stack }}"
    Port "5432"
    User "{{ getv $user }}"
    Password "{{ getv $password }}"
    Query backends
    Query transactions
    Query queries
    Query query_plans
    Query table_states
    Query disk_io
    Query disk_usage
  </Database>

EOF

done
      {{ end -}}
    {{ end -}}
  {{ end -}}
{{ end }}

echo '</Plugin>' >> $OUTPUT
